<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<center>
    <div>
        <form action="/addGroup" >
            <table style="font-size:23px">
                <tr>
                    <td><label ><b>Phone Number</b> </label></td>
                    <td><input type="text" name="phnNo" ></td>
                </tr>
                <tr>
                    <td><label><b>Password </b>  </label></td>
                    <td><input type="password" name="pass" ></td>
                </tr>
                <td><input type="submit"></td>
            </table>
        </form>
    </div>
</center>
</body>
</html>